// @color-card-bg: @color-primary;
@color-card-bg: #f90;

.card-block{
  text-align:center;
  position: relative;
  overflow:hidden;
  @media screen and (min-width : 480px) and (max-width : 1024px)  {
    .card-block--heading{
      margin: 0 !important;
      padding: 0;
    }
    .card-block--body{

    font-size:12px !important;
      p{
        margin-bottom: 5px;
      }
      a.btn{
        position: absolute !important;
        bottom: 0;
        left: 0;
        width:100%;
      }
    }
  }
  height:100%;
  width:100%;
  position:relative;

  margin:30px auto 0;

  background:#fff;
  color:contrast(@color-primary, #fff, #000, 50%);

  .front, .back{
    width:100%;
    height:100%;
  }

  // Front
  .front{
    img{
      max-height: 380px;
      width:auto;
      width: 100%;
      display: block;
      position: relative;
    }
    .card-block--heading{
      position: absolute;
      background: @color-card-bg;

      padding: 0 10px;
      line-height: 40px;
      bottom: 0px;
      width: 100%;
      transition:all .4s;
    }
  }

  // Back
  .back{
    opacity:0;
    background: @color-card-bg;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    transition:all .2s linear;

    .card-block--heading{
      font-size:1.5em;
      line-height: 1em;

      margin:15px 0 0 0;
      position:relative;
    }
    .card-block--body{
      font-size:14px;
      padding: 10px;
      margin:0 5px;
      position:relative;
      top:100%;

      transition:all .3s ease .2s;
      p{
        margin:0 0 10px 0;
      }
    }
  }
}

/* Effect */
.card-block{
  &:hover { cursor:pointer; }
}
.card-block{

  .front .card-block--body{
    top:0;
  }
  .back:hover{
    opacity:1;

    .card-block--heading:before,
    .card-block--body{
      top:0;
      margin-bottom:0;
    }
    .back:hover .card-block--heading:before{ transform: scale(1);}
  }
}

